<div class="row justify-content-center">
  <div class="col-lg-5 col-md-6 col-sm-7 col-9 bg-light p-5 mt-5">
    <h1 class="text-center text-primary">{{ menuTitle }}</h1>
  </div>
</div>

{{#each categories}}
  <div class="row justify-content-center">
    <div class="col-lg-5 col-md-6 col-sm-7 col-9 bg-light p-4 pt-5 mt-3">
      <h2 class="text-secondary">{{ this }}</h2>
      <hr class="text-black mb-4"/>

      {{#each ../menuItems}}
        {{#if (eq this.category ../this)}}
          <div class="flex-column d-flex justify-content-start align-items-start mt-2">          
            <div class="d-flex justify-content-between align-items-end w-100">
              <h3 class="text-muted">{{ this.name }}</h3>
              <h5 class="text-muted">{{ this.price }}</h5>
            </div>
            <p>{{ formatIngredients this.description }}</p>
          </div>
        {{/if}}
      {{/each}}

    </div>  
  </div>
{{/each}}

<div class="row justify-content-center">
  <div class="col-lg-5 col-md-6 col-sm-7 col-9 bg-light p-4 py-3 my-5">
    <small class="text-muted">
      20% service charge will be added to parties of 9 or more</br>
      Split check / payments a maximum of 4 separate ways</br>
      Please alert your server of any allergies</br>
      $15 Corkage fee per bottle 750 ML
    </small>
  </div>
</div>


